<section class="animes-section">
    <div class="form-group">
        <input type="text" class="form-control" ng-model="pesquisa" placeholder="Pesquisa">
    </div>
    <div class="box" infinite-scroll="loadMore()">
        <!-- <div class="col-md-4 capas grow" ng-repeat="filme in filmes.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filterBy:['nome', 'info.qualidade', 'info.audio', 'info.lancamento', 'sinopse']:pesquisa">         -->
        <div class="item grow" ng-repeat="serie in data | filterBy:['nome']:pesquisa">
            <a href="/series/episodios/{{serie.path}}" target="new_blank()">
                <img class="img-fluid rounded mx-auto d-block" src="{{serie.capa}}" alt="{{serie.nome}}">
            </a>
            <p class="titulo">{{serie.nome}}</p>
        </div>
    </div>
</section>
